#contact-section {
    margin-bottom: 30px;
}

#contact-section h2 {
    color: #333;
}

#contact-form {
    max-width: 400px;
    margin:  auto;
    padding: 10px;
}

#contact-form label,
#contact-form input,
#contact-form textarea,
#contact-form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

#contact-form label {
    font-weight: bold;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}
